*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #111;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-size: 5rem;
}